<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="schedule.mapper">

  	<insert id="insertSchdule">
  		insert into 
  		trip_schedule(email,s_subject,s_content,s_idate,s_idate_update,s_image,s_image_size,s_score,after,s_active,s_sdate,s_day)
  		values(#{email},#{s_subject},#{s_content},now(),now(),#{s_image},#{s_image_size},#{s_score},#{after},#{s_active},#{s_sdate},#{s_day}) 
  	</insert>
  	
  	<insert id="insertContent">
  		insert into
  		trip_content(s_id,start_Time,end_Time,c_content,gcode,c_rdate,c_rdate_update,c_active,end_purpose)
  		values(#{s_id},#{startTime},#{endTime},#{content},#{gcode},now(),now(),'Y','PL')
  	</insert>

  	<select id="selectS_id"  resultType="java.lang.Integer">
  		select MAX(s_id) from trip_schedule where email=#{email}
  	</select>
  	
  	
  	<select id="selectSchdule" resultType="com.app.trip.schedule.ScheduleDTO">
  		select * from trip_schedule where s_id=#{s_id} 
  	</select>
  	
  	<select id="selectSchduleList" resultType="com.app.trip.schedule.ScheduleDTO">
  		select * from trip_schedule 
  		<if test="email != null">
  			where email=#{email}
  		</if>
  	</select>	
  	
  	
  	<update id="updateSch">
  		update trip_schedule set s_subject=#{s_subject},
  		s_content=#{s_content},s_idate_update=now(),after=#{after},category=#{category}
  		where s_id=#{s_id} and email=#{email}
  	</update>
  	
  </mapper>